<% if User.current.allowed_to?(:global_edit_catalogs, nil, :global => true) %>
  <h1><%= t('city.action.new.title') %> </h1>

  <%= render partial: 'form', locals: { city: @city, action: :create } %>
<% else %>
  <p class="nodata"><%=t('permission.denied.message')%></p>
<% end %>
<%= link_to t('button_cancel'), {:controller => 'cities', :action => 'index'} %>
