<% if User.current.allowed_to?(:project_edit_equipments, nil, :global => true) %>
  <h1><%= t('equipment.action.edit.title') %></h1>

  <%= render partial: 'form', locals: { equipment: @equipment, organizations: @organizations, parents: @parents,
                                        equipment_types: @equipment_types, vendors: @vendors, owner_types: @owner_types, owners: @owners,
                                        location_types: @location_types, locations: @locations, addresses: @addresses,
                                        consignment_notes: @consignment_notes, tags: @tags, action: :update } %>
<% else %>
  <p class="nodata"><%=t('permission.denied.message')%></p>
<% end %>
<%= link_to t('button_cancel'), path_back_or_default %>
