<% if User.current.allowed_to?(:project_edit_catalogs, @project, global: false) %>
  <h1><%= t('service_result.action.new.title') %> </h1>

  <%= render partial: 'form', locals: { service_result: @service_result, service: @service, action: :create } %>
<% else %>
  <p class="nodata"><%=t('permission.denied.message')%></p>
<% end %>
<%= link_to t('button_cancel'), path_back_or_default %>
