<% if User.current.allowed_to?(:global_edit_catalogs, nil, :global => true) %>
  <h1><%= t('address.action.edit.title') %></h1>

  <%= render partial: 'form', locals: { address: @address, action: :update } %>
<% else %>
  <p class="nodata"><%=t('permission.denied.message')%></p>
<% end %>
<%= link_to t('button_cancel'), {:controller => 'addresses', :action => 'index'} %>
