<% if User.current.allowed_to?(:global_edit_catalogs, nil, :global => true) %>
  <h1><%= t('equipment_type.action.new.title') %> </h1>

  <%= render partial: 'form', locals: { equipment_type: @equipment_type, action: :create } %>
<% else %>
  <p class="nodata"><%=t('permission.denied.message')%></p>
<% end %>
<%= link_to t('button_cancel'), {:controller => 'equipment_types', :action => 'index'} %>
