<% if !location_types.blank? %>
  <% location_types.each do |lt| %>
    <option value="<%= lt[:id] %>" class="select_icon <%= location_type_icon(lt[:id]) %>"><%= lt[:name].to_s %></option>
  <% end %>
<% end %>
